body {
  box-sizing: border-box;
  padding: 0%;
  margin: 0 80px 80px;
}

.research {
  display: flex;
  justify-content: space-between;
}

.us {
  display: flex;
  gap: 10px;
}

.subscribe {
  justify-content: space-between;
  gap: 10px;
}

.newyork {
  display: flex;
  justify-content: space-between;
}

.monday {
  display: flex;
}

.nascad {
  display: flex;
}

.title {
  border-bottom: 1px solid black;
  display: flex;
}

.options {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.overall1 {
  display: flex;
  border-bottom: 1px solid black;
  padding: 10px;
}

.picture {
  display: flex;
  padding-left: 100px;
  border-left: 1px solid black;
}

.firt2box {
  display: flex;
  padding: 10px;
}

.box1 {
  padding: 10px;
  display: flex;
  border-top: 1px double black;
}

.mago {
  color: tomato;
  display: flex;
}

.israel {
  border-bottom: 1px solid black;
}

.overall2 {
  border-bottom: 1px solid black;
  display: flex;
}

.one {
  border: 0.1px solid black;
  padding: 10px;
  margin: 10px 0;
}

.two {
  padding: 10px;
  width: 25vw;
  margin: 70px 0;
}

.three {
  display: flex;
  margin: 10px;
  text-align: left;
}

.four {
  display: flex;
  text-align: left;
}

.a {
  flex-direction: column;
  border-bottom: 1px;
}

.b {
  flex-direction: column;
  border-bottom: 1px;
}

.corner1 {
  flex-direction: column;
  border-bottom: 1px solid black;
  border-left: 0.5px solid black;
}

.corner2 {
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
}

.corner3 {
  flex-direction: column;
  border-left: 1px solid black;
  text-align: center;
}

.overall23 {
  display: flex;
}

.overall123 {
  flex-direction: column;
  text-align: center;
}

.overallall {
  border-top: 1px solid black;
}

.breaking {
  display: flex;
  border-top: 1px solid black;
  width: 75vw;
}

.text {
  flex-direction: column;
  padding: 10px;
}

.uno {
  display: flex;
  border-top: 1px solid black;
  width: 75vw;
}

.uno1 {
  flex-direction: column;
  margin: 10px;
  text-align: left;
}

.uno2 {
  flex-direction: column;
  margin: 25px;
}

.due {
  display: flex;
  border-top: 1px solid black;
  width: 75vw;
}

.due1 {
  flex-direction: column;
  border-bottom: 1px solid black;
  margin: 1000px 10px;
  text-align: left;
}

.due2 {
  flex-direction: column;
  border-bottom: 1px solid black;
  margin: 10px;
  text-align: left;
}

.due12 {
  display: flex;
}

.quatro {
  display: flex;
  width: 75vw;
  margin: 10px;
}

.quatro1 {
  flex-direction: column;
  border-right: 1px solid black;
  margin: 10px;
}

.quatro2 {
  flex-direction: column;
  margin: 20px;
}

.cinque {
  display: flex;
  border-top: 1px solid black;
  width: 75vw;
}

.cinque1 {
  flex-direction: column;
  border-right: 1px solid black;
  margin: 10px;
  width: 75vw;
}

.cinque2 {
  flex-direction: column;
  margin: 10px;
  width: 75vw;
}

.sei {
  display: flex;
  border-top: 1px solid black;
  width: 75vw;
}

.sei1 {
  flex-direction: column;
  border-right: 1px solid black;
  margin: 60px;
  width: 75vw;
}

.sette {
  display: flex;
  border-top: 1px solid black;
  width: 75vw;
}

.sette1 {
  flex-direction: column;
  border-right: 1px solid black;
  margin: 20px;
  width: 75vw;
}

.otto {
  display: flex;
  border-top: 1px solid black;
  width: 75vw;

}

.otto1 {
  flex-direction: column;
  border-right: 1px solid black;
  margin: 20px;
  width: 75vw;
}

.nove {
  display: flex;
  border-top: 1px solid black;
  width: 75vw;
}

.nove1 {
  flex-direction: column;
  border-right: 1px solid black;
  margin: 20px;
  width: 75vw;
}

.dieci {
  display: flex;
  border-top: 1px solid black;
  width: 75vw;
}

.dieci1 {
  flex-direction: column;
  border-right: 1px solid black;
  margin: 20px;
  width: 75vw;
}

.undici {
  display: flex;
  border-top: 1px solid black;
  width: 75vw;
}

.undici1 {
  flex-direction: column;
  border-right: 1px solid black;
  margin: 20px;
  width: 75vw;
}

.undici2 {
  flex-direction: column;
  margin: 20px;
  width: 75vw;
}

.dodici {
  display: flex;
  border-top: 1px solid black;
  text-align: left;
  width: 75vw;
}

.dodici1 {
  flex-direction: column;
  border-right: 1px solid black;
  text-align: left;
  width: 75vw;
  margin: 20px;
}

.dodici2 {
  flex-direction: column;
  text-align: left;
  width: 75vw;
  margin: 20px;
}

.afternunez {
  display: flex;
  border-top: 1px solid black;
  height: fit-content;
}

.aftn1 {
  border-bottom: 1px solid black;
  margin: 10px;
}

.aftn2 {
  margin: 10px;
}

.aftn3 {
  border-top: 1px solid black;
  margin: 10px;
}

.aftn4 {
  border-left: 1px solid black;
  margin: 50px;
}

.aftn5 {
  border-left: 1px solid black;
  margin: 10px;
  flex-direction: column;
}

.aftn123 {
  flex-direction: column;
}

.friedman {
  border-bottom: 1px solid black;
  display: flex;
  margin-right: 0 1000px;
  text-align: left;
}

.fdtext {
  flex-direction: column;
}

.fd1 {
  border-left: 1px solid black;
  display: flex;
  margin-right: 0 100px;
}

.fd1text {
  flex-direction: column;
}

.fd2 {
  border-top: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd3 {
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd4 {
  border-top: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd5 {
  border-top: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd5a {
  border-bottom: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd5b {
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd6 {
  border-top: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd7 {
  border-top: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd8 {
  border-top: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd8a {
  border-bottom: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd8b {
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.alone {
  border-bottom: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.coverpage {
  border-bottom: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd9 {
  border-bottom: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd10 {
  border-bottom: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.fd11 {
  border-bottom: 1px solid black;
  display: flex;
  margin-right: 0 100px;
  flex-direction: column;
}

.overallfriedman {
  border-left: 1px solid black;
  margin-right: 0 100px;
}

.overallthrump {
  margin-right: 0 100px;
}

.overallfdth {
  display: flex;
  padding: 10px;
  margin-right: 0 100px;
}

.images1 {
  border-right: 1px solid black;
  text-align: center;
}

.images2 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.images3 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.images4 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.images5 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.images6 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.overal123456 {
  border-top: 1px solid black;
  display: flex;
}

.images7 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.images8 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.images9 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.images10 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.overal789 {
  border-top: 1px solid black;
  display: flex;
}

.images11 {
  border-top: 1px solid black;
  text-align: center;
  margin: 40px 0;
  display: flex;
}

.images11a {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.images11b {
  text-align: center;
  margin-left: 100px;
  background-color: blanchedalmond;
}

.images11c {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.food {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.food1 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.food2 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.food3 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.food4 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.food5 {
  border-right: 1px solid black;
  text-align: center;
  margin: 40px 0;
}

.overalfood {
  border-top: 1px solid black;
  display: flex;
}

.icon1 {
  border-right: 1px solid black;
  display: flex;
}

.ic1a {
  margin: 70px 0;
  margin: 10px;
}

.icon2 {
  border-right: 1px solid black;
  display: flex;
}

.ica {
  margin: 70px 0;
}

.icon3 {
  border-right: 1px solid black;
  display: flex;
}

.ic3a {
  margin: 70px 0;
}

.icon4 {
  border-right: 1px solid black;
  display: flex;
}

.ic4a {
  margin: 70px 0;
  margin: 10px;
}

.icon5 {
  border-right: 1px solid black;
  display: flex;
}

.ic5a {
  margin: 70px 0;
}

.icon6 {
  border-right: 1px solid black;
  display: flex;
}

.ic6a {
  margin: 70px 0;
}

.icon123 {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.icon456 {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.bfooter {
  border-top: 1px solid black;
  display: flex;
}

.bfooter1 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfooter2 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfooter3 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfooter4 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfooter5 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfooter6 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bff {
  border-top: 1px solid black;
  display: flex;
}

.bff1 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bff2 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bff3 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bff4 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bff5 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bff6 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfff {
  border-top: 1px solid black;
  display: flex;
}

.bfff1 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfff2 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfff3 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfff4 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfff5 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfff6 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bffff {
  border-right: 1px solid black;
  display: flex;
}

.bffff1 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bffff2 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bffff3 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bffff4 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bffff5 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bffff6 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfffff {
  border-top: 1px solid black;
  display: flex;
}

.bfffff1 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfffff2 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfffff3 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.bfffff4 {
  border-right: 1px solid black;
  flex-direction: column;
  margin: 10px;
}

.ff1 {
  flex-direction: column;
}

.ff2 {
  flex-direction: column;
}

.ff3 {
  flex-direction: column;
}

.ff4 {
  flex-direction: column;
}

.ff5 {
  flex-direction: column;
}

.ff6 {
  border-left: 1px solid black;
  flex-direction: column;
}

.sitebox {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
}

.ff7 {
  display: flex;
  justify-content: space-between;
}

.overalfooter {
  flex-direction: column;
}

.overalsitbox {
  flex-direction: column;
}

.overalfooter1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-top: 1px solid black;
}

.overalmathperry {
  border-top: 1px solid black;
}
